fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
httpx
authlib
alembic # Pour les migrations de base de données
python-multipart
itsdangerous # Ajout pour SessionMiddleware 